<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <welcome-file-list>
    <welcome-file>/jsp/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>delEmp</servlet-name>
    <servlet-class>web.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delEmp</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addEmp</servlet-name>
    <servlet-class>web.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addEmp</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifiedEmp</servlet-name>
    <servlet-class>web.ModifiedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifiedEmp</servlet-name>
    <url-pattern>/modified</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listEmp</servlet-name>
    <servlet-class>web.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listEmp</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>springMvc1</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <init-param>
          <param-name>contextConfigLocation</param-name>
          <param-value>classpath:applicationContext.xml</param-value>
      </init-param>
  </servlet>
  <servlet-mapping>
      <servlet-name>springMvc1</servlet-name>
      <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <!-- 配置spring配置文件的名称和位置 -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:springContextWEB.xml</param-value>
  </context-param>
  <!-- 启动IOC容器的ServletContextListener -->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
</web-app>
