<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
    xmlns:cache="http://www.springframework.org/schema/cache"  
    xsi:schemaLocation="  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context.xsd  
    http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/tx  
    http://www.springframework.org/schema/tx/spring-tx.xsd  
    http://www.springframework.org/schema/jdbc  
    http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd  
    http://www.springframework.org/schema/cache  
    http://www.springframework.org/schema/cache/spring-cache-3.1.xsd  
    http://www.springframework.org/schema/aop  
    http://www.springframework.org/schema/aop/spring-aop.xsd  
    http://www.springframework.org/schema/util  
    http://www.springframework.org/schema/util/spring-util.xsd">  
    <bean id="date" class="java.util.Date"/>
    <bean id="calendar" class="java.util.Calendar" factory-method="getInstance"/>
    <bean id="time" factory-bean="calendar" factory-method="getTime"/>
    <bean id="init" class="springDemos.InitMethod" init-method="start" lazy-init="true"/>
    <bean id="destory" class="springDemos.DestoryMethod" destroy-method="destory" lazy-init="true"/>
    <bean id = "computer" class="springDemos.Computer">
        <property name="mainBord" value="华硕"></property>
        <property name="ram" value="8G"></property>
        <property name="hdd" value="1T"></property>
        <property name="cpu" value="Intel"></property>
    </bean>
    <bean id="phone" class="springDemos.ConstructorDemo">
    	<constructor-arg index="0" value="麒麟960"></constructor-arg>
		<constructor-arg index="1" value="8G"></constructor-arg>
    </bean>
    <bean id="student" class="springDemos.Student">
    	<property name="name" value="Black Lee"></property>
    	<property name="computer" ref="computer"></property>
    	<property name="phone" ref="phone"></property>
    </bean>
    <bean id="friends" class="springDemos.CollectionDemo">
    	<property name="name">
    		<list>
    			<value>Black Lee</value>
    			<value>Jhon</value>
    			<value>Lily</value>
    		</list>
    	</property>
    	<property name="cities">
    		<set>
    			<value>北京</value>
    			<value>黑龙江</value>
    			<value>上海</value>
    		</set>
    	</property>
    	<property name="grade">
    		<map>
    			<entry key="math" value="90.1"></entry>
    			<entry key="english" value="80"></entry>
    			<entry key="chinese" value="90"></entry>
    		</map>
    	</property>
    	<property name="prop">
    		<props>
    			<prop key="url">http://localhost:8080/gitRepository/login</prop>
    			<prop key="driver">java.jdbc.mysql</prop>
    			<prop key="username">root</prop>
    			<prop key="password">12346</prop>
    		</props>
    	</property>
    </bean>
    <context:component-scan base-package="springDemos"/>
 </beans>